In [1]:
import pandas as pd
import numpy as np

# Write the code to find id corresponding to maximum absolute difference between x and y . Then write code to find how many observations have strictly lower value of x , than the value of x corresponding to that id.

In [54]:
d=pd.DataFrame({'id':np.random.choice(range(1,100),30,replace=False),'x':np.random.randint(1,100,30),
 'y':np.random.randint(1,100,30)})

In [61]:
d.head(18)

    id   x   y
0   40  12  22
1   59  33  96
2   83  88  83
3   31  67  94
4   36  35   5
5   19  24  11
6   25  55  29
7   90  34  75
8   55  79  39
9    9  63  79
10  17  32  88
11  49  88  95
12  74   4   8
13  67  45  92
14  75  45  51
15  28  45  92
16  16  12  98
17  82  57  54

In [62]:
#d.loc[np.fabs(d['x']-d['y']),d['id'].idxmax()]

In [66]:
max_id=d['id'][(np.fabs(d['x']-d['y'])).idxmax() ] #Dataframe.idxmax() returns the maximum index position
print(max_id)

16

In [67]:
####extra
d.idxmax() #returning the index positions for maximum value for each column

id    19
x     21
y     16
dtype: int64

In [70]:
x_val= int(d['x'][d['id']==max_id]) #returns index and value of x. use int to get only the value of x
print(x_val)

12

In [71]:
(d['x']<x_val).sum()

3

# Write code to find average sales across months . Write code to find which category had minimum sales for the second quarter .

## Additional Information :
## =>You can extract different components [month, year, week etc] from a datetime type pandas series using following data[col_name].dt.month .

## => You can convert an object type column containing dates to datetime type by using pd.to_datetime

In [72]:
#given dataset
import pandas as pd
import numpy as np
from datetime import date
d1=pd.to_datetime('23-1-2020').toordinal()
d2=pd.to_datetime('23-12-2020').toordinal() #1 year data
df=pd.DataFrame({
 'date':[date.fromordinal(np.random.randint(d1, d2)) for i in range(100)],
 'sales':np.random.randint(100,500,100),

'category':np.random.choice(['Apparels','Cosmetics','Toys','Consumables'],100)
})

C:\Users\aruna\AppData\Local\Temp\ipykernel_4280\2553827238.py:6: UserWarning: Parsing '23-12-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  d2=pd.to_datetime('23-12-2020').toordinal()

In [73]:
df

          date  sales     category
0   2020-05-11    229    Cosmetics
1   2020-05-14    242  Consumables
2   2020-03-15    279         Toys
3   2020-06-02    498    Cosmetics
4   2020-07-19    157         Toys
..         ...    ...          ...
95  2020-08-19    461  Consumables
96  2020-06-15    302         Toys
97  2020-06-30    488     Apparels
98  2020-08-07    112         Toys
99  2020-07-17    466         Toys

[100 rows x 3 columns]

In [75]:
df.dtypes

date        object
sales        int32
category    object
dtype: object

In [77]:
#changing object type date to datetime
df['date']=pd.to_datetime(df['date'])
df.dtypes

date        datetime64[ns]
sales                int32
category            object
dtype: object

In [79]:
df['month'] = df['date'].dt.month
df['month']

0     5
1     5
2     3
3     6
4     7
     ..
95    8
96    6
97    6
98    8
99    7
Name: month, Length: 100, dtype: int64

In [80]:
df.groupby(['month'])['sales'].mean()

month
2     285.666667
3     299.000000
4     334.142857
5     281.900000
6     307.642857
7     285.500000
8     286.600000
9     342.857143
10    287.000000
11    318.200000
12    265.888889
Name: sales, dtype: float64

In [91]:
# Write code to find which category had minimum sales for the second quarter .
df['quater'] = df['date'].dt.quarter
df

         date  sales     category  month  quater
0  2020-05-11    229    Cosmetics      5       2
1  2020-05-14    242  Consumables      5       2
2  2020-03-15    279         Toys      3       1
3  2020-06-02    498    Cosmetics      6       2
4  2020-07-19    157         Toys      7       3
..        ...    ...          ...    ...     ...
95 2020-08-19    461  Consumables      8       3
96 2020-06-15    302         Toys      6       2
97 2020-06-30    488     Apparels      6       2
98 2020-08-07    112         Toys      8       3
99 2020-07-17    466         Toys      7       3

[100 rows x 5 columns]

In [96]:
a=df[df['quater']==2].groupby(['category'])['sales'].mean()
a

category
Apparels       349.375000
Consumables    290.250000
Cosmetics      268.444444
Toys           322.000000
Name: sales, dtype: float64

In [99]:
a.index[a==min(a)]

Index(['Cosmetics'], dtype='object', name='category')