In [175]:
import pandas as pd
import numpy as np

# Write the code to find id corresponding to maximum absolute difference between x and y . Then write code to find how many observations have strictly lower value of x , than the value of x corresponding to that id.

In [176]:
d=pd.DataFrame({'id':np.random.choice(range(1,100),30,replace=False),'x':np.random.randint(1,100,30),
 'y':np.random.randint(1,100,30)})

In [177]:
d.head(18)

    id   x   y
0   97  93  50
1   52  24  10
2   45   2  24
3   68  88  55
4   86  32  88
5   12  20  62
6   19   1  45
7   37  34  35
8   17  81  83
9   99  47  96
10  28  50  54
11   9  66  35
12  36  51  58
13  30  87  33
14  77  98  89
15  92  73   9
16  57  85  94
17  10  82  39

In [178]:
#d.loc[np.fabs(d['x']-d['y']),d['id'].idxmax()]

In [179]:
max_id=d['id'][(np.fabs(d['x']-d['y'])).idxmax() ] #Dataframe.idxmax() returns the maximum index position
print(max_id)

71

In [180]:
####extra
d.idxmax() #returning the index positions for maximum value for each column

id     9
x     14
y      9
dtype: int64

In [181]:
x_val= int(d['x'][d['id']==max_id]) #returns index and value of x. use int to get only the value of x
print(x_val)

87

In [182]:
(d['x']<x_val).sum()

24

# Write code to find average sales across months . Write code to find which category had minimum sales for the second quarter .

## Additional Information :
## =>You can extract different components [month, year, week etc] from a datetime type pandas series using following data[col_name].dt.month .

## => You can convert an object type column containing dates to datetime type by using pd.to_datetime

In [183]:
#given dataset
import pandas as pd
import numpy as np
from datetime import date
d1=pd.to_datetime('23-1-2020').toordinal()
d2=pd.to_datetime('23-12-2020').toordinal() #1 year data
df=pd.DataFrame({
 'date':[date.fromordinal(np.random.randint(d1, d2)) for i in range(100)],
 'sales':np.random.randint(100,500,100),

'category':np.random.choice(['Apparels','Cosmetics','Toys','Consumables'],100)
})

C:\Users\aruna\AppData\Local\Temp\ipykernel_22124\3103705675.py:6: UserWarning: Parsing '23-12-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  d2=pd.to_datetime('23-12-2020').toordinal() #1 year data

In [184]:
df

          date  sales     category
0   2020-09-29    137         Toys
1   2020-06-29    295     Apparels
2   2020-07-02    160    Cosmetics
3   2020-07-04    405     Apparels
4   2020-11-17    296     Apparels
..         ...    ...          ...
95  2020-08-28    313     Apparels
96  2020-02-25    407     Apparels
97  2020-07-13    349  Consumables
98  2020-03-31    308         Toys
99  2020-12-18    311    Cosmetics

[100 rows x 3 columns]

In [185]:
df.dtypes

date        object
sales        int32
category    object
dtype: object

In [186]:
#changing object type date to datetime
df['date']=pd.to_datetime(df['date'])
df.dtypes

date        datetime64[ns]
sales                int32
category            object
dtype: object

In [187]:
df['month'] = df['date'].dt.month
df['month']

0      9
1      6
2      7
3      7
4     11
      ..
95     8
96     2
97     7
98     3
99    12
Name: month, Length: 100, dtype: int64

In [188]:
df.groupby(['month'])['sales'].mean()

month
1     322.000000
2     260.666667
3     294.416667
4     268.000000
5     447.500000
6     267.111111
7     293.785714
8     259.111111
9     249.500000
10    306.785714
11    318.888889
12    291.571429
Name: sales, dtype: float64

In [189]:
# Write code to find which category had minimum sales for the second quarter .
df['quater'] = df['date'].dt.quarter
df

         date  sales     category  month  quater
0  2020-09-29    137         Toys      9       3
1  2020-06-29    295     Apparels      6       2
2  2020-07-02    160    Cosmetics      7       3
3  2020-07-04    405     Apparels      7       3
4  2020-11-17    296     Apparels     11       4
..        ...    ...          ...    ...     ...
95 2020-08-28    313     Apparels      8       3
96 2020-02-25    407     Apparels      2       1
97 2020-07-13    349  Consumables      7       3
98 2020-03-31    308         Toys      3       1
99 2020-12-18    311    Cosmetics     12       4

[100 rows x 5 columns]

In [190]:
a=df[df['quater']==2].groupby(['category'])['sales'].mean()
a

category
Apparels       307.000000
Consumables    320.285714
Cosmetics      272.250000
Toys           302.200000
Name: sales, dtype: float64

In [191]:
a.index[a==min(a)]

Index(['Cosmetics'], dtype='object', name='category')

# Import data coupon_item.csv . Create a data set with following summaries at coupon_id level.
1. Count of how many times a coupon_id occurs in the dataset [Hint : make use of
value_counts and then use reset_index on the result]
2. Number of unique items for each coupon [ each item has an unique item_id ]
3. Count of each category for every coupon [Hint: Make use of crosstab and use
reset_index on the result]
4. Number of unique categories for each coupon
5. Max Frequency brand code for each coupon [Identified with column name brand ]
6. Number of brands for each coupon which have frequency higher than 10% of how many times that coupon is present in the data
7. Difference between frequencies of highest occurring and second highest occurring
   brands as percent of total frequency of the coupon . [e.g. total frequency of the coupon
in data is 100. highest occurring brand has frequency 50 and second highest has
frequency 30 . then value of this summary will be (50-30)/100 =0.2]

In [278]:
file = r"D:\IITK Data Analytics\Python Data Analytics\Course work\Data Handling\Data-Handling-with-Python\data\coupon_item.csv"

In [279]:
df=pd.read_csv(file)

In [280]:
df

       coupon_id  item_id  brand   brand_type        category
0            105       37     56        Local         Grocery
1            107       75     56        Local         Grocery
2            494       76    209  Established         Grocery
3            522       77    278  Established         Grocery
4            518       77    278  Established         Grocery
...          ...      ...    ...          ...             ...
92658         32    69268    686  Established  Pharmaceutical
92659         32    68502   1009  Established  Pharmaceutical
92660         32    68612   1104  Established  Pharmaceutical
92661         33    71390   4196  Established            Meat
92662         31    70030   4477  Established         Grocery

[92663 rows x 5 columns]

In [281]:
df['category'].unique()

array(['Grocery', 'Bakery', 'Skin & Hair Care', 'Pharmaceutical',
       'Seafood', 'Packaged Meat', 'Dairy, Juices & Snacks',
       'Natural Products', 'Miscellaneous', 'Prepared Food', 'Meat',
       'Vegetables (cut)', 'Travel', 'Garden', 'Flowers & Plants',
       'Salads', 'Restauarant'], dtype=object)

In [282]:
df.shape

(92663, 5)

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92663 entries, 0 to 92662
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   coupon_id   92663 non-null  int64
 1   item_id     92663 non-null  int64
 2   brand       92663 non-null  int64
 3   brand_type  92663 non-null  object
 4   category    92663 non-null  object
dtypes: int64(3), object(2)
memory usage: 3.5+ MB

# 3.1
Count of how many times a coupon_id occurs in the dataset [Hint : make use of value_counts and then use reset_index on the result]

In [284]:
df_coupon=df['coupon_id'].value_counts().reset_index()
df_coupon

      index  coupon_id
0        32      11814
1        23      11813
2        22       4947
3        31       4873
4        33       4394
...     ...        ...
1111   1057          1
1112     54          1
1113    470          1
1114     48          1
1115    784          1

[1116 rows x 2 columns]

In [285]:
df_coupon.columns=['coupon_id','Number of occurence']

In [286]:
df_coupon

      coupon_id  Number of occurence
0            32                11814
1            23                11813
2            22                 4947
3            31                 4873
4            33                 4394
...         ...                  ...
1111       1057                    1
1112         54                    1
1113        470                    1
1114         48                    1
1115        784                    1

[1116 rows x 2 columns]

# 3.2
Number of unique items for each coupon [ each item has an unique item_id ]

In [287]:
df_new=df['item_id'].groupby(df['coupon_id']).nunique().reset_index()
df_new

      coupon_id  item_id
0             1       39
1             2        2
2             3       17
3             4       24
4             5        7
...         ...      ...
1111       1112        6
1112       1113       15
1113       1114        3
1114       1115        7
1115       1116        2

[1116 rows x 2 columns]

In [288]:
#temp=df.groupby(['coupon_id'])['item_id'].nunique().reset_index() 
#temp

In [289]:
df_number=pd.merge(df_coupon,df_new,on='coupon_id')

df_number

      coupon_id  Number of occurence  item_id
0            32                11814    11814
1            23                11813    11813
2            22                 4947     4947
3            31                 4873     4873
4            33                 4394     4394
...         ...                  ...      ...
1111       1057                    1        1
1112         54                    1        1
1113        470                    1        1
1114         48                    1        1
1115        784                    1        1

[1116 rows x 3 columns]

# 3.3 
Count of each category for every coupon [Hint: Make use of crosstab and use reset_index on the result]

In [290]:
temp=pd.crosstab(df['coupon_id'],df['category'])
temp.reset_index(inplace=True)

In [291]:
df_number=pd.merge(df_number,temp,on='coupon_id',how='left')
df_number

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,Natural Products,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut)
0,32,11814,11814,0,3,0,0,12,8,5,0,0,9616,0,0,0,0,2170,0,0
1,23,11813,11813,0,2,0,0,12,8,5,0,0,9616,0,0,0,0,2170,0,0
2,22,4947,4947,16,260,0,0,4127,4,1,0,247,0,0,0,0,292,0,0,0
3,31,4873,4873,16,259,0,0,4127,3,1,0,246,0,0,0,0,221,0,0,0
4,33,4394,4394,0,0,0,0,29,2076,17,0,1677,0,4,0,1,590,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,1057,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1112,54,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1113,470,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1114,48,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1115,784,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

# 3.4
Number of unique categories for each coupon

In [292]:
temp=df.groupby(['coupon_id'])['category'].nunique().reset_index()
temp.columns=['coupon_id','num_unique_categories']
df_number=pd.merge(df_number,temp,on='coupon_id',how='left')
df_number

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,...,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut),num_unique_categories
0,32,11814,11814,0,3,0,0,12,8,5,...,0,9616,0,0,0,0,2170,0,0,6
1,23,11813,11813,0,2,0,0,12,8,5,...,0,9616,0,0,0,0,2170,0,0,6
2,22,4947,4947,16,260,0,0,4127,4,1,...,247,0,0,0,0,292,0,0,0,7
3,31,4873,4873,16,259,0,0,4127,3,1,...,246,0,0,0,0,221,0,0,0,7
4,33,4394,4394,0,0,0,0,29,2076,17,...,1677,0,4,0,1,590,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,1057,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1112,54,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1113,470,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1114,48,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1115,784,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [293]:
df_number.head(35)

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,...,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut),num_unique_categories
0,32,11814,11814,0,3,0,0,12,8,5,...,0,9616,0,0,0,0,2170,0,0,6
1,23,11813,11813,0,2,0,0,12,8,5,...,0,9616,0,0,0,0,2170,0,0,6
2,22,4947,4947,16,260,0,0,4127,4,1,...,247,0,0,0,0,292,0,0,0,7
3,31,4873,4873,16,259,0,0,4127,3,1,...,246,0,0,0,0,221,0,0,0,7
4,33,4394,4394,0,0,0,0,29,2076,17,...,1677,0,4,0,1,590,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,468,116,116,0,0,0,0,116,0,0,...,0,0,0,0,0,0,0,0,0,1
31,998,114,114,0,0,0,0,0,0,0,...,0,114,0,0,0,0,0,0,0,1
32,19,114,114,0,114,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
33,492,112,112,0,0,0,0,112,0,0,...,0,0,0,0,0,0,0,0,0,1
34,40,112,112,0,112,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# 3.5
Max Frequency brand code for each coupon [Identified with column name brand ]

In [294]:
df

       coupon_id  item_id  brand   brand_type        category
0            105       37     56        Local         Grocery
1            107       75     56        Local         Grocery
2            494       76    209  Established         Grocery
3            522       77    278  Established         Grocery
4            518       77    278  Established         Grocery
...          ...      ...    ...          ...             ...
92658         32    69268    686  Established  Pharmaceutical
92659         32    68502   1009  Established  Pharmaceutical
92660         32    68612   1104  Established  Pharmaceutical
92661         33    71390   4196  Established            Meat
92662         31    70030   4477  Established         Grocery

[92663 rows x 5 columns]

In [295]:
temp=pd.DataFrame(df.groupby(['coupon_id'])['brand'].value_counts())
temp.columns=['brand_count']
temp.reset_index(inplace=True)
temp.head(35)

    coupon_id  brand  brand_count
0           1   1475           25
1           1   1558            9
2           1   4700            5
3           2   2084            2
4           3    278           12
5           3   1558            5
6           4    544           24
7           5   5357            7
8           6     56          636
9           6    133          276
10          6    544          171
11          6    967          154
12          6   1587          130
13          6   1558          120
14          6    147          118
15          6   1124           97
16          6   4817           92
17          6    939           78
18          6    209           74
19          6   1105           70
20          6   1636           70
21          6    280           69
22          6    350           67
23          6    412           64
24          6    923           60
25          6    119           56
26          6    714           55
27          6    248           51
28          6   1358           50
29          6    498           49
30          6    982           48
31          6    241           37
32          6    574           37
33          6    946           37
34          6    387           29

In [296]:
temp=temp.groupby(['coupon_id'])['brand'].nth(0).reset_index()
temp.columns=['coupon_id','max_freq_brand']
df_number=pd.merge(df_number,temp,on='coupon_id',how='left')
del temp

In [297]:
coupon_features.head(35)

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,...,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut),num_unique_categories,max_freq_brand
0,32,11814,11814,0,3,0,0,12,8,5,...,9616,0,0,0,0,2170,0,0,6,56
1,23,11813,11813,0,2,0,0,12,8,5,...,9616,0,0,0,0,2170,0,0,6,56
2,22,4947,4947,16,260,0,0,4127,4,1,...,0,0,0,0,292,0,0,0,7,56
3,31,4873,4873,16,259,0,0,4127,3,1,...,0,0,0,0,221,0,0,0,7,56
4,33,4394,4394,0,0,0,0,29,2076,17,...,0,4,0,1,590,0,0,0,7,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,468,116,116,0,0,0,0,116,0,0,...,0,0,0,0,0,0,0,0,1,172
31,998,114,114,0,0,0,0,0,0,0,...,114,0,0,0,0,0,0,0,1,1470
32,19,114,114,0,114,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,56
33,492,112,112,0,0,0,0,112,0,0,...,0,0,0,0,0,0,0,0,1,209
34,40,112,112,0,112,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,56

# 3.6
Number of brands for each coupon which have frequency higher than 10% of how
many times that coupon is present in the data

In [327]:
#one coupon has muliple brands . so coupon is a category containing brands.

temp=pd.DataFrame(df.groupby(['coupon_id'])['brand'].value_counts())
temp.columns=['brand_count']
temp.reset_index(inplace=True)

temp
#df_number=pd.merge(df_number,temp,on='coupon_id',how='left')
#temp
#df[('num_brand'>.1),'brand']

      coupon_id  brand  brand_count
0             1   1475           25
1             1   1558            9
2             1   4700            5
3             2   2084            2
4             3    278           12
...         ...    ...          ...
7871       1112   5177            6
7872       1113   5184           15
7873       1114   2416            3
7874       1115   2446            7
7875       1116   4728            2

[7876 rows x 3 columns]

In [328]:
#del df_number['num_brand_y']

temp=pd.merge(temp,df_number[['coupon_id','Number of occurence']],
             on=['coupon_id'],how='left')
temp

      coupon_id  brand  brand_count  Number of occurence
0             1   1475           25                   39
1             1   1558            9                   39
2             1   4700            5                   39
3             2   2084            2                    2
4             3    278           12                   17
...         ...    ...          ...                  ...
7871       1112   5177            6                    6
7872       1113   5184           15                   15
7873       1114   2416            3                    3
7874       1115   2446            7                    7
7875       1116   4728            2                    2

[7876 rows x 4 columns]

In [329]:
temp['brand_frequency'] = temp['brand_count']/temp['Number of occurence']
temp=temp[temp['brand_frequency']>=0.1]
print(temp.shape)
temp

(1241, 5)

      coupon_id  brand  brand_count  Number of occurence  brand_frequency
0             1   1475           25                   39         0.641026
1             1   1558            9                   39         0.230769
2             1   4700            5                   39         0.128205
3             2   2084            2                    2         1.000000
4             3    278           12                   17         0.705882
...         ...    ...          ...                  ...              ...
7871       1112   5177            6                    6         1.000000
7872       1113   5184           15                   15         1.000000
7873       1114   2416            3                    3         1.000000
7874       1115   2446            7                    7         1.000000
7875       1116   4728            2                    2         1.000000

[1241 rows x 5 columns]

In [330]:
temp=temp['coupon_id'].value_counts().reset_index()
temp.columns=['coupon_id','high_freq_brand_count']
temp

      coupon_id  high_freq_brand_count
0             1                      3
1          1104                      3
2           997                      3
3           257                      3
4           259                      3
...         ...                    ...
1108        413                      1
1109        415                      1
1110        416                      1
1111        417                      1
1112       1116                      1

[1113 rows x 2 columns]

In [331]:
coupon_features=pd.merge(coupon_features,temp,how='left',on=['coupon_id'])

In [332]:
coupon_features

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,...,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut),num_unique_categories,max_freq_brand,high_freq_brand_count_x,index,high_freq_brand_count_y
0,32,11814,11814,0,3,0,0,12,8,5,...,0,0,2170,0,0,6,56,NaN,NaN,NaN
1,23,11813,11813,0,2,0,0,12,8,5,...,0,0,2170,0,0,6,56,NaN,NaN,NaN
2,22,4947,4947,16,260,0,0,4127,4,1,...,0,292,0,0,0,7,56,1.0,NaN,1.0
3,31,4873,4873,16,259,0,0,4127,3,1,...,0,221,0,0,0,7,56,1.0,NaN,1.0
4,33,4394,4394,0,0,0,0,29,2076,17,...,1,590,0,0,0,7,56,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,1057,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1878,1.0,NaN,1.0
2222,54,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,56,1.0,NaN,1.0
2223,470,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,178,1.0,NaN,1.0
2224,48,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,56,1.0,NaN,1.0
2225,784,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,946,1.0,NaN,1.0