In [1]:
import pandas as pd
import numpy as np

# Write the code to find id corresponding to maximum absolute difference between x and y . Then write code to find how many observations have strictly lower value of x , than the value of x corresponding to that id.

In [54]:
d=pd.DataFrame({'id':np.random.choice(range(1,100),30,replace=False),'x':np.random.randint(1,100,30),
 'y':np.random.randint(1,100,30)})

In [61]:
d.head(18)

    id   x   y
0   40  12  22
1   59  33  96
2   83  88  83
3   31  67  94
4   36  35   5
5   19  24  11
6   25  55  29
7   90  34  75
8   55  79  39
9    9  63  79
10  17  32  88
11  49  88  95
12  74   4   8
13  67  45  92
14  75  45  51
15  28  45  92
16  16  12  98
17  82  57  54

In [62]:
#d.loc[np.fabs(d['x']-d['y']),d['id'].idxmax()]

In [66]:
max_id=d['id'][(np.fabs(d['x']-d['y'])).idxmax() ] #Dataframe.idxmax() returns the maximum index position
print(max_id)

16

In [67]:
####extra
d.idxmax() #returning the index positions for maximum value for each column

id    19
x     21
y     16
dtype: int64

In [70]:
x_val= int(d['x'][d['id']==max_id]) #returns index and value of x. use int to get only the value of x
print(x_val)

12

In [71]:
(d['x']<x_val).sum()

3

# Write code to find average sales across months . Write code to find which category had minimum sales for the second quarter .

## Additional Information :
## =>You can extract different components [month, year, week etc] from a datetime type pandas series using following data[col_name].dt.month .

## => You can convert an object type column containing dates to datetime type by using pd.to_datetime

In [72]:
#given dataset
import pandas as pd
import numpy as np
from datetime import date
d1=pd.to_datetime('23-1-2020').toordinal()
d2=pd.to_datetime('23-12-2020').toordinal() #1 year data
df=pd.DataFrame({
 'date':[date.fromordinal(np.random.randint(d1, d2)) for i in range(100)],
 'sales':np.random.randint(100,500,100),

'category':np.random.choice(['Apparels','Cosmetics','Toys','Consumables'],100)
})

C:\Users\aruna\AppData\Local\Temp\ipykernel_4280\2553827238.py:6: UserWarning: Parsing '23-12-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  d2=pd.to_datetime('23-12-2020').toordinal()

In [73]:
df

          date  sales     category
0   2020-05-11    229    Cosmetics
1   2020-05-14    242  Consumables
2   2020-03-15    279         Toys
3   2020-06-02    498    Cosmetics
4   2020-07-19    157         Toys
..         ...    ...          ...
95  2020-08-19    461  Consumables
96  2020-06-15    302         Toys
97  2020-06-30    488     Apparels
98  2020-08-07    112         Toys
99  2020-07-17    466         Toys

[100 rows x 3 columns]

In [75]:
df.dtypes

date        object
sales        int32
category    object
dtype: object

In [77]:
#changing object type date to datetime
df['date']=pd.to_datetime(df['date'])
df.dtypes

date        datetime64[ns]
sales                int32
category            object
dtype: object

In [79]:
df['month'] = df['date'].dt.month
df['month']

0     5
1     5
2     3
3     6
4     7
     ..
95    8
96    6
97    6
98    8
99    7
Name: month, Length: 100, dtype: int64

In [80]:
df.groupby(['month'])['sales'].mean()

month
2     285.666667
3     299.000000
4     334.142857
5     281.900000
6     307.642857
7     285.500000
8     286.600000
9     342.857143
10    287.000000
11    318.200000
12    265.888889
Name: sales, dtype: float64

In [91]:
# Write code to find which category had minimum sales for the second quarter .
df['quater'] = df['date'].dt.quarter
df

         date  sales     category  month  quater
0  2020-05-11    229    Cosmetics      5       2
1  2020-05-14    242  Consumables      5       2
2  2020-03-15    279         Toys      3       1
3  2020-06-02    498    Cosmetics      6       2
4  2020-07-19    157         Toys      7       3
..        ...    ...          ...    ...     ...
95 2020-08-19    461  Consumables      8       3
96 2020-06-15    302         Toys      6       2
97 2020-06-30    488     Apparels      6       2
98 2020-08-07    112         Toys      8       3
99 2020-07-17    466         Toys      7       3

[100 rows x 5 columns]

In [96]:
a=df[df['quater']==2].groupby(['category'])['sales'].mean()
a

category
Apparels       349.375000
Consumables    290.250000
Cosmetics      268.444444
Toys           322.000000
Name: sales, dtype: float64

In [99]:
a.index[a==min(a)]

Index(['Cosmetics'], dtype='object', name='category')

# Import data coupon_item.csv . Create a data set with following summaries at coupon_id level.
1. Count of how many times a coupon_id occurs in the dataset [Hint : make use of
value_counts and then use reset_index on the result]
2. Number of unique items for each coupon [ each item has an unique item_id ]
3. Count of each category for every coupon [Hint: Make use of crosstab and use
reset_index on the result]
4. Number of unique categories for each coupon
5. Max Frequency brand code for each coupon [Identified with column name brand ]
6. Number of brands for each coupon which have frequency higher than 10% of how many times that coupon is present in the data
7. Difference between frequencies of highest occurring and second highest occurring
   brands as percent of total frequency of the coupon . [e.g. total frequency of the coupon
in data is 100. highest occurring brand has frequency 50 and second highest has
frequency 30 . then value of this summary will be (50-30)/100 =0.2]

In [16]:
file = r"D:\IITK Data Analytics\Python Data Analytics\Course work\Data Handling\Data-Handling-with-Python\data\coupon_item.csv"

In [17]:
df=pd.read_csv(file)

In [18]:
df

       coupon_id  item_id  brand   brand_type        category
0            105       37     56        Local         Grocery
1            107       75     56        Local         Grocery
2            494       76    209  Established         Grocery
3            522       77    278  Established         Grocery
4            518       77    278  Established         Grocery
...          ...      ...    ...          ...             ...
92658         32    69268    686  Established  Pharmaceutical
92659         32    68502   1009  Established  Pharmaceutical
92660         32    68612   1104  Established  Pharmaceutical
92661         33    71390   4196  Established            Meat
92662         31    70030   4477  Established         Grocery

[92663 rows x 5 columns]

In [53]:
df['category'].unique()

array(['Grocery', 'Bakery', 'Skin & Hair Care', 'Pharmaceutical',
       'Seafood', 'Packaged Meat', 'Dairy, Juices & Snacks',
       'Natural Products', 'Miscellaneous', 'Prepared Food', 'Meat',
       'Vegetables (cut)', 'Travel', 'Garden', 'Flowers & Plants',
       'Salads', 'Restauarant'], dtype=object)

In [19]:
df.shape

(92663, 5)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92663 entries, 0 to 92662
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   coupon_id   92663 non-null  int64
 1   item_id     92663 non-null  int64
 2   brand       92663 non-null  int64
 3   brand_type  92663 non-null  object
 4   category    92663 non-null  object
dtypes: int64(3), object(2)
memory usage: 3.5+ MB

# 3.1
Count of how many times a coupon_id occurs in the dataset [Hint : make use of value_counts and then use reset_index on the result]

In [27]:
df_coupon=df['coupon_id'].value_counts().reset_index()
df_coupon

      index  coupon_id
0        32      11814
1        23      11813
2        22       4947
3        31       4873
4        33       4394
...     ...        ...
1111   1057          1
1112     54          1
1113    470          1
1114     48          1
1115    784          1

[1116 rows x 2 columns]

In [41]:
df_coupon.columns=['coupon_id','Number of occurence']

In [42]:
df_coupon

      coupon_id  Number of occurence
0            32                11814
1            23                11813
2            22                 4947
3            31                 4873
4            33                 4394
...         ...                  ...
1111       1057                    1
1112         54                    1
1113        470                    1
1114         48                    1
1115        784                    1

[1116 rows x 2 columns]

# 3.2
Number of unique items for each coupon [ each item has an unique item_id ]

In [67]:
df_new=df['item_id'].groupby(df['coupon_id']).nunique().reset_index()
df_new

      coupon_id  item_id
0             1       39
1             2        2
2             3       17
3             4       24
4             5        7
...         ...      ...
1111       1112        6
1112       1113       15
1113       1114        3
1114       1115        7
1115       1116        2

[1116 rows x 2 columns]

In [68]:
#temp=df.groupby(['coupon_id'])['item_id'].nunique().reset_index() 
#temp

In [103]:
df_number=pd.merge(df_coupon,df_new,on='coupon_id')

df_number

      coupon_id  Number of occurence  item_id
0            32                11814    11814
1            23                11813    11813
2            22                 4947     4947
3            31                 4873     4873
4            33                 4394     4394
...         ...                  ...      ...
1111       1057                    1        1
1112         54                    1        1
1113        470                    1        1
1114         48                    1        1
1115        784                    1        1

[1116 rows x 3 columns]

# 3.3 
Count of each category for every coupon [Hint: Make use of crosstab and use reset_index on the result]

In [104]:
temp=pd.crosstab(df['coupon_id'],df['category'])
temp.reset_index(inplace=True)

In [105]:
df_number=pd.merge(df_number,temp,on='coupon_id',how='right')
df_number

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,Natural Products,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut)
0,1,39,39,0,0,0,0,9,0,0,30,0,0,0,0,0,0,0,0,0
1,2,2,2,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
2,3,17,17,0,0,0,0,17,0,0,0,0,0,0,0,0,0,0,0,0
3,4,24,24,0,0,0,0,24,0,0,0,0,0,0,0,0,0,0,0,0
4,5,7,7,0,0,0,0,0,0,0,0,0,7,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,1112,6,6,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0
1112,1113,15,15,0,0,0,0,0,0,0,0,0,15,0,0,0,0,0,0,0
1113,1114,3,3,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0
1114,1115,7,7,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0
1115,1116,2,2,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0

# 3.4
Number of unique categories for each coupon

In [109]:
temp=df.groupby(['coupon_id'])['category'].nunique().reset_index()
temp.columns=['coupon_id','num_unique_categories']
df_number=pd.merge(df_number,temp,on='coupon_id',how='right')
df_number

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,...,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut),num_unique_categories
0,1,39,39,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,2
1,2,2,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,17,17,0,0,0,0,17,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,24,24,0,0,0,0,24,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,7,7,0,0,0,0,0,0,0,...,0,7,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,1112,6,6,0,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,1
1112,1113,15,15,0,0,0,0,0,0,0,...,0,15,0,0,0,0,0,0,0,1
1113,1114,3,3,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,1
1114,1115,7,7,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
1115,1116,2,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,1

In [110]:
df_number.head(35)

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,...,Packaged Meat,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut),num_unique_categories
0,1,39,39,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,2
1,2,2,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,17,17,0,0,0,0,17,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,24,24,0,0,0,0,24,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,7,7,0,0,0,0,0,0,0,...,0,7,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,31,4873,4873,16,259,0,0,4127,3,1,...,246,0,0,0,0,221,0,0,0,7
31,32,11814,11814,0,3,0,0,12,8,5,...,0,9616,0,0,0,0,2170,0,0,6
32,33,4394,4394,0,0,0,0,29,2076,17,...,1677,0,4,0,1,590,0,0,0,7
33,34,53,53,0,0,0,0,0,0,0,...,0,53,0,0,0,0,0,0,0,1
34,35,18,18,0,0,0,0,18,0,0,...,0,0,0,0,0,0,0,0,0,1

# 3.5
Max Frequency brand code for each coupon [Identified with column name brand ]

In [111]:
df

       coupon_id  item_id  brand   brand_type        category
0            105       37     56        Local         Grocery
1            107       75     56        Local         Grocery
2            494       76    209  Established         Grocery
3            522       77    278  Established         Grocery
4            518       77    278  Established         Grocery
...          ...      ...    ...          ...             ...
92658         32    69268    686  Established  Pharmaceutical
92659         32    68502   1009  Established  Pharmaceutical
92660         32    68612   1104  Established  Pharmaceutical
92661         33    71390   4196  Established            Meat
92662         31    70030   4477  Established         Grocery

[92663 rows x 5 columns]

In [135]:
temp=pd.DataFrame(df.groupby(['coupon_id'])['brand'].value_counts())
temp.columns=['brand_count']
temp.reset_index(inplace=True)
temp.head(35)

    coupon_id  brand  brand_count
0           1   1475           25
1           1   1558            9
2           1   4700            5
3           2   2084            2
4           3    278           12
5           3   1558            5
6           4    544           24
7           5   5357            7
8           6     56          636
9           6    133          276
10          6    544          171
11          6    967          154
12          6   1587          130
13          6   1558          120
14          6    147          118
15          6   1124           97
16          6   4817           92
17          6    939           78
18          6    209           74
19          6   1105           70
20          6   1636           70
21          6    280           69
22          6    350           67
23          6    412           64
24          6    923           60
25          6    119           56
26          6    714           55
27          6    248           51
28          6   1358           50
29          6    498           49
30          6    982           48
31          6    241           37
32          6    574           37
33          6    946           37
34          6    387           29

In [137]:
temp=temp.groupby(['coupon_id'])['brand'].nth(0).reset_index()
temp.columns=['coupon_id','max_freq_brand']
coupon_features=pd.merge(df_number,temp,on='coupon_id',how='left')
del temp

In [138]:
coupon_features.head(35)

,coupon_id,Number of occurence,item_id,Bakery,"Dairy, Juices & Snacks",Flowers & Plants,Garden,Grocery,Meat,Miscellaneous,...,Pharmaceutical,Prepared Food,Restauarant,Salads,Seafood,Skin & Hair Care,Travel,Vegetables (cut),num_unique_categories,max_freq_brand
0,1,39,39,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,2,1475
1,2,2,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,1,2084
2,3,17,17,0,0,0,0,17,0,0,...,0,0,0,0,0,0,0,0,1,278
3,4,24,24,0,0,0,0,24,0,0,...,0,0,0,0,0,0,0,0,1,544
4,5,7,7,0,0,0,0,0,0,0,...,7,0,0,0,0,0,0,0,1,5357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,31,4873,4873,16,259,0,0,4127,3,1,...,0,0,0,0,221,0,0,0,7,56
31,32,11814,11814,0,3,0,0,12,8,5,...,9616,0,0,0,0,2170,0,0,6,56
32,33,4394,4394,0,0,0,0,29,2076,17,...,0,4,0,1,590,0,0,0,7,56
33,34,53,53,0,0,0,0,0,0,0,...,53,0,0,0,0,0,0,0,1,2088
34,35,18,18,0,0,0,0,18,0,0,...,0,0,0,0,0,0,0,0,1,278

# 3.6
Number of brands for each coupon which have frequency higher than 10% of how
many times that coupon is present in the data