# Generate a list containing 50 random integers between 10 to 100. Write a program which removes all the values which are divisible by 3 from the list . Then it subtracts 1 from all the remaining values and then removes all the values divisible by 5 from the list .

In [16]:
import random
old_list=[random.randrange(10, 100, 1) for i in range(50)]

In [11]:
print(old_list)

[30, 98, 77, 96, 89, 82, 23, 77, 56, 34, 31, 10, 10, 42, 72, 97, 69, 38, 46, 28, 87, 52, 76, 25, 33, 51, 79, 26, 51, 68, 33, 84, 38, 31, 55, 32, 50, 36, 91, 41, 20, 90, 32, 72, 35, 91, 43, 39, 19, 61]

In [86]:
for ele in old_list:
    #print (i)
    if ele%3==0:
        old_list.remove(ele)
        new_list1= [ ele-1 for ele in old_list]
        new_list2= [ new_list1.remove(ele) for ele in new_list1 if ele %5 == 0]
print(new_list2)

In [87]:
print("Remove Divisible by 3: ",old_list , len(old_list))
print("Subtracting 1: ",new_list3 , len(new_list3))
print("Remove Divisible by 5: ",new_list2 , len(new_list2))

In [18]:
for ele in old_list:
    if ele%3==0:
        old_list.remove(ele)
        print (old_list)
        print("-------------------------------------------------")
        new_list1= [ i-1 for i in old_list]
        #print("new_list1",new_list1)
        for ele in new_list1:
            if ele%5==0:
                new_list1.remove(ele)
                
print("##################################################")
print(new_list1)

[29, 37, 38, 40, 17, 29, 83, 61, 34, 49, 50, 62, 47, 32, 23, 69, 92, 55, 57, 32, 56, 51, 44, 10, 73, 74, 49, 45, 17, 98, 61, 32, 53, 25, 65]
-------------------------------------------------
[29, 37, 38, 40, 17, 29, 83, 61, 34, 49, 50, 62, 47, 32, 23, 92, 55, 57, 32, 56, 51, 44, 10, 73, 74, 49, 45, 17, 98, 61, 32, 53, 25, 65]
-------------------------------------------------
[29, 37, 38, 40, 17, 29, 83, 61, 34, 49, 50, 62, 47, 32, 23, 92, 55, 32, 56, 51, 44, 10, 73, 74, 49, 45, 17, 98, 61, 32, 53, 25, 65]
-------------------------------------------------
[29, 37, 38, 40, 17, 29, 83, 61, 34, 49, 50, 62, 47, 32, 23, 92, 55, 32, 56, 44, 10, 73, 74, 49, 45, 17, 98, 61, 32, 53, 25, 65]
-------------------------------------------------
[29, 37, 38, 40, 17, 29, 83, 61, 34, 49, 50, 62, 47, 32, 23, 92, 55, 32, 56, 44, 10, 73, 74, 49, 17, 98, 61, 32, 53, 25, 65]
-------------------------------------------------
##################################################
[28, 36, 37, 39, 16, 28, 82, 33, 48, 49, 61, 46, 31, 22, 91, 54, 31, 43, 9, 72, 73, 48, 16, 97, 31, 52, 24, 64]

#  Write a program which takes input any string and then replaces all the letters which are keys in the dictionary with their corresponding values in the dictionary.

 Consider {'a':'e','b':'$','c':'q','d':'p','j':'n'}
 
example input = 'abjected'

output = 'e$neqtep'

In [6]:
my_dict= {'a':'e'   ,'b':'$',   'c':'q',   'd':'p',   'j':'n'}

In [7]:
#string = str(input("Give a String: "))
string = 'abjected'

In [8]:
my_list=list(string)
my_list

['a', 'b', 'j', 'e', 'c', 't', 'e', 'd']

In [9]:
for i,ele in enumerate(my_list):
    if ele in my_dict.keys():
        my_list[i] = my_dict[ele]
    
        print ("Change: ",ele)

#my_list.append(ele)

Change:  a
Change:  b
Change:  j
Change:  c
Change:  d

In [10]:
my_list

['e', '$', 'n', 'e', 'q', 't', 'e', 'p']

In [11]:
str1 = ""
# traverse in the string 
for i in my_list:
    str1 += i 
print(str1)

e$neqtep

# Write a program which takes input a list of strings and removes strings until all the remaining strings are of equal lengths . Assume that in the input list , there will be at-least two strings of the same length . For simplicity , assume that list will not contain equal length strings for multiple lengths

example input =['abc','abcd','acbde','acbgeh','qwert']

output = ['abcde','qwert']

In [32]:
inlist=['asdfg','sdfghj','popoioi','freud','billionaire','Rdita']

In [33]:
len_count=[]
for ele in inlist:
    print (ele , " " , len(ele))
    count.append(len(ele))
print("List of lengths",count)

asdfg   5
sdfghj   6
popoioi   7
freud   5
billionaire   11
Rdita   5
List of lengths [5, 6, 7, 5, 11, 5, 5, 6, 7, 5, 11, 5]

In [34]:
inlist=set(inlist) #avoiding repetition of strings if any
inlist

{'Rdita', 'asdfg', 'billionaire', 'freud', 'popoioi', 'sdfghj'}

In [35]:
mode = max(count,key=len_count.count) #used from solutions
print(mode)

5

In [36]:
out_list=[]
for i in inlist:
    if len(i)==mode:
        out_list.append(i)

In [37]:
out_list

['asdfg', 'freud', 'Rdita']

# Write a function which tells you whether you can take jugs of capacity 3 and 5 litres and fill another jug of capacity x completely with water using just these two . For simplicity assume that you can only pour into the jug of capacity x . You can not take any water out. And you start with jug of capacity x being empty. It is acceptable if you dont use any one of the jugs [of capacity 3 and 5 litres]

The problem is same as finding if there exist positive integer solutions for a and b in the equation 3a + 5b = x
where is a known integer

In [20]:
def jug_capacity(x,c1=3,c2=5):
    for a in range(0,int(x/c1)):
        b=(x-c1*a)/c2
        #b=int(b) isinstance(object, type)
        if b.is_integer():
            if b>=0:
                print("ACCEPTED")
                print(" Amount from 3 litre Jug : ",a)
                print(" Amount from 5 itre Jug : ",b)
            else:
                print ("Negative value of Jug B detected. Rejected")
        else:
            print("REJECTED")
            print(" Amount from 3 litre Jug : ",a)
            print(" Amount from 5 itre Jug : ",b)
            
            
    return (x)

In [24]:
hoga_ki_nahi = jug_capacity(10)

ACCEPTED
 Amount from 3 litre Jug :  0
 Amount from 5 itre Jug :  2.0
REJECTED
 Amount from 3 litre Jug :  1
 Amount from 5 itre Jug :  1.4
REJECTED
 Amount from 3 litre Jug :  2
 Amount from 5 itre Jug :  0.8

# Use dictionary comprehension to create a dictionary with keys : t1,t2,t3.......t100 which takes random integers from the range [1,100] as their corresponding values. Write a function which takes this dictionary as input and returns number of unique values from all key:value pairs in that dictionary .

In [51]:
def unique_ele(my_dict):
    unique_values = set(my_dict.values())
    return (len(unique_values))

In [53]:
import random
values=[random.randrange(1, 100, 1) for i in range(100)]
keys=[]
for i in range (1,len(values)+1):
    keys.append("t"+str(i))
my_dict=dict(zip(keys,values))

output=unique_ele(my_dict)
print(output)

#smart away to create dictionary
###### d ={'t'+str(i):np.random.randint(1,101) for i in range(1,101)}
#------------------------------------------------------------------------
#print("Original Dictionary",my_dict)
#print("Original Length",len(my_dict.values()) )
#unique_values=set(my_dict.values())
#print("Unique elements length",len(unique_values))

65

# Imagine a circle and two squares: a smaller and a bigger one. For the smaller one, the circle is a circumcircle and for the bigger one, an incircle. Create a function, that takes an integer (radius of the circle) and returns the difference of the areas of the two squares.

In [58]:
import math
def area_diff(rad = 1) :
    small_sq= math.sqrt(2) * rad **2
    large_sq = 2 * rad**2
    diff = large_sq - small_sq
    return (diff)

radius = int (input ("Enter radius: "))
difference = area_diff (radius)
print ("Difference of the areas of the two squares: ", difference)

Enter radius: 3
Difference of the areas of the two squares:  1.7573593128807143

# A number is said to be Harshad if it's exactly divisible by the sum of its digits. Create a function that determines whether a number is a Harshad or not. Input to the function will be an integer.

In [5]:
def harshad(num):
    digits = [int(i) for i in list(str(num))]
    return (num % sum(digits) == 0)
    
#     summ=0
#     num_orig=num
#     num=list(str(n))
#     for i in num:
#         #i=int(i)
#         summ+=int(i)
#     if num_orig % summ ==0:
#         print('Number is Harshad')
#     else:
#         print('Number is not Harshad')

In [6]:
harshad(145)

False

# Write a function which takes an integer n as input and returns sum of all even numbers in the first n terms of a fibonacci series .

example input = 7

fibonacci series for the same will be : 1,1,2,3,5,8,13

output=2+8=10

In [4]:
def fibo(n):
    fib_series=[1,1]
    summ=0
    ctr=2

    while ctr<n:
        fib_series.append(fib_series[-1]+fib_series[-2])
        ctr+=1
        
    return(fib_series)

In [5]:
def fibo_evensum(n):
    even=[x for x in fibo(n) if x%2==0]
    return (sum(even))

In [6]:
fibo_evensum(7)

10

# Write a function which takes input an english sentence of any length , and a set containing some stop words. Function then removes all stop words from the sentence and returns a dictionary where keys are all unique words in the sentence and values are their count in the sentence .

In [16]:
def del_stop(string,stop):
    string = string.split()
    new_str = [ele for ele in string if ele not in stop]
    print(new_str)
    
    d={}
    for word in set(new_str):
        d[word]=new_str.count(word)
    return (d)

In [17]:
string = 'that i live in jorhat and also i live in assam which is in ne india and life is good '
stop ={'i','in','and','is'}
del_stop(string,stop)

['that', 'live', 'jorhat', 'also', 'live', 'assam', 'which', 'ne', 'india', 'life', 'good']

{'life': 1,
 'assam': 1,
 'that': 1,
 'also': 1,
 'ne': 1,
 'jorhat': 1,
 'india': 1,
 'good': 1,
 'live': 2,
 'which': 1}

# ['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai'] Extract cities from each address, use list comprehension .

In [31]:
my_list= ['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai']
my_list[0].split(',')

['H-73', ' MDT', ' Powai ', ' Mumbai']

In [34]:
cities=[i.split(',')[-1] for i in my_list]

In [35]:
cities

[' Mumbai', ' Hyderabad', ' Chennai']

# given a list , create a dictionary with counts of unique elements that it contains 
input list =
['a','b','a','a','b','c','c','a','b'] output dictionary = {'a':4,'b':3,'c':2}

In [41]:
in_list=['a','a','a','b','a','a','b','c','c','a','b']

In [43]:
my_dict={}
out_dict={ele: in_list.count(ele) for ele in set(in_list)}

In [44]:
out_dict

{'a': 6, 'c': 2, 'b': 3}